{#
SPDX-FileCopyrightText: 2026 Bergruebe

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Beszel Hub ({{ beszel_identifier }})
{% for service in beszel_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in beszel_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre={{ devture_systemd_docker_base_host_command_sh }} -c '{{ beszel_container_cleanup_command | trim | replace("\n", " ") }}'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ beszel_identifier }} \
      --log-driver=none \
      --user={{ beszel_uid }}:{{ beszel_gid }} \
      --cap-drop=ALL \
      --security-opt=no-new-privileges \
      --read-only \
      --network={{ beszel_container_network }} \
      {% if beszel_container_http_host_bind_port %}
      -p {{ beszel_container_http_host_bind_port }}:{{ beszel_container_http_port }} \
      {% endif %}
      --env-file={{ beszel_base_path }}/env \
      --label-file={{ beszel_base_path }}/labels \
      --mount type=bind,src={{ beszel_data_path }},dst=/beszel_data \
      {% if beszel_agent_socket_enabled %}
      --mount type=bind,src={{ beszel_agent_socket_path_host }},dst={{ beszel_agent_socket_path_container }} \
      {% endif %}
      {% for volume in beszel_container_additional_volumes %}
      --mount type={{ volume.type | default('bind' if '/' in volume.src else 'volume') }},src={{ volume.src }},dst={{ volume.dst }}{{ (',' + volume.options) if volume.options | default('') else '' }} \
      {% endfor %}
      --tmpfs=/tmp:rw,noexec,nosuid,size={{ beszel_container_tmpfs_tmp_size }} \
      {% for arg in beszel_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ beszel_container_image }} \
      serve --http=0.0.0.0:{{ beszel_container_http_port }}

{% for network in beszel_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ beszel_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ beszel_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ beszel_container_stop_grace_time_seconds }} {{ beszel_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ beszel_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ beszel_identifier }}

[Install]
WantedBy=multi-user.target
